@charset "utf-8";

$primary: #026670;
$info: darken($primary, 5);
$success: #EBD3D0;
$warning: #556E70;

.messages-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
};

.chat-message {
  width: 60%;
  margin: 10px;
}

.from-user {
  align-self: flex-end;
};

.from-other {
  align-self: flex-start;
};

@import "../../node_modules/bulma/bulma.sass";

