@charset "utf-8";

$primary: #026670;
$info: darken($primary, 5);
$success: #EBD3D0;
$warning: #556E70;

.chat-section {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 960px;

  > div > p {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
  }

}


.messages-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
};

.chat-input {
  position: sticky;
  max-width: 960px;
  bottom: 0;
  padding: 10px;
  background-color: white;
}

.chat-message {
  width: 60%;
  margin: 10px;
}

.from-user {
  align-self: flex-end;
  text-align: right;
};

.from-other {
  align-self: flex-start;
};

@import "../../node_modules/bulma/bulma.sass";

.is-primary.input {
  border-color: #999 !important;
}

.button.is-primary {
  background-color: #026670 !important;
}

.message-header {
  display: block;
}